@using Telematics.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<div style="padding:1px;height:100%;background-image:url('http://personalbackgroundcheck.com/wp-content/uploads/2015/04/driving-night.jpg')">
    <div class="col-md-8" style="margin-left: auto; margin-right: auto; text-align: center;">
        <div style="width:300px;height:400px;position:absolute;top:50%;left:50%;margin:-200px 0 0 -150px;background-color:rgba(255,255,255,0.8)">
            <img src="http://citrine.sg/assets/images/logo.png" style="max-width:100px:height:100px;width:100px" />
            <h2>@ViewBag.Title</h2>
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <br />
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <br />
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" style="margin-top:10px" />
                        </div>
                    </div>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
                }
            </section>
        </div>
    </div>
</div>