@section Breadcrumbs{
    <ol class="breadcrumb navbar-breadcrumb">
        <li>Account Management</li>
    </ol>
}

<div class="side-body padding-top">
    <div class="card card-success">
        <div class="card-header" style="background-color:#22A7F0">
            <div class="card-title">
                <div class="title" style="padding:10px"><i class="fa fa-user" style="padding-right:10px"></i>User List</div>
            </div>
            <div class="card-title" style="float:right">
                <a href="/Account/Register">
                    <div class="card green summary-inline">
                        <div class="title" style="padding:10px"><i class="fa fa-plus" style="padding-right:10px"></i>Create User</div>
                    </div>
                </a>
            </div>
            <div class="clear-both"></div>
            </div>
        <style type="text/css">
            td {
                padding:10px 10px 10px 10px
            }
        </style>
            <table style="width:100%;" border="1">
                <thead>
                    <tr>
                        <td>
                            <span style="font-weight:bold">Username</span>
                        </td>
                        <td>
                            <span style="font-weight:bold">Email</span></td>
                        <td>
                            <span style="font-weight:bold">Access Right</span></td>
                        @if (User.IsInRole("Super"))
                        {
                            <td>
                                <span style="font-weight:bold">Company</span>
                            </td>
                        }
                        <td align="center">
                            <span style="font-weight:bold">Actions</span></td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var i = 0;
                    }
                    @foreach(var user in Model.users) { 
                    <tr>
                        <td>
                            @user.UserName
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @Model.roles[i]
                            @{
                                i++;
                            }
                        </td>
                        @if (User.IsInRole("Super"))
                        {
                            <td>
                                @user.Company
                            </td>
                                    }
                        <td align="center">
                                <a href="@Url.Action("Edit", "Account", new { userid = user.Id })">
                                    <div class="card green summary-inline" style="width:25%;display:inline-block;padding:2%;margin-left:5%">
                                        <div class="title">Edit</div>
                                    </div>
                                </a>
                                <a href="@Url.Action("Delete", "Account", new { userid = user.Id })"  onclick="return confirm('Are you sure you want to delete this account ?')">
                                    <div class="card green summary-inline" style="width:25%;display:inline-block;padding:2%;margin-right:5%">
                                        <div class="title">Delete</div>
                                    </div>
                                </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
    </div>
</div>